$nodeHeight: 50px;

.node-container {
  display: inline-block;
  padding: 0.2em;
  text-align: center;

  .split {
    display: flex;
    /* flex-direction: row; */
  }

  .stack {
    display: block;
  }

  .formula {
    display: block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    height: $nodeHeight;
    box-sizing: border-box;
  }
  .node.incorrect {
    border: solid red;
  }

  .node.correct {
    border: solid green;
  }

  input {
    background: transparent;
    font-size: 1em;
    color: black;
    border-color: transparent;
    text-align: center;
    resize: horizontal;
    box-sizing: border-box;
  }

  input:focus {
    border: solid 2px blue;
  }

  .children.split {
    padding-top: 0.75em;
  }
}

.spacer {
  height: $nodeHeight;
  flex-grow: 1;
}
