main.App {
  background: #ffffff;
  text-align: center;
  color: black;
  // min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

button.submit-premises {
  font-family: Book Antiqua, serif;
  margin-left: 8px;
}

select {
  margin-bottom: 20px;
  font-family: Book Antiqua, serif;
}

button {
  margin: 5px 5px 0 0;
}
