.split {
  display: flex;
  /* flex-direction: row; */
}

.stack {
  display: block;
}

.node {
  display: block;
}

.node.selected {
  border-style: solid;
  border-color: red;
}

.node-container {
  display: inline-block;
  padding: 0.2em;
  text-align: center;
}

.node-container.selected > .children {
  border-style: solid;
  border-color: orange;
}

.children.split {
  padding-top: 0.75em;
  padding-left: 50px;
  padding-right: 50px;
}


