.split {
  display: inline-flex;
  flex-flow: column;
  flex-direction: row;
  justify-content: space-between;
}

.stack {
  display: inline-flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.children {
  display: flex;
  flex-direction: column;
}
