html,
#root,
main {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'FiraLogic', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: FiraLogic, source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

@font-face {
  font-family: 'FiraLogic';
  src: local('FiraLogic'),
    url(assets/FiraLogic/dist/FiraLogic-Regular.woff) format('woff');
}
